<div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
  <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
  <h4 class="resume-item-title" itemprop="details">
    {{ job.location }} &bull; {{ job.duration }}
  </h4>
  <p class="resume-item-copy">{{ job.summary }}</p>
  <h4 class="resume-item-details" itemprop="description">
    {{ job.title }}
  </h4>
  <div>
    <ul class="resume-item-list">
      {% for accomplishment in job.accomplishments %}
      <li>{{ accomplishment }}</li>
      {% endfor %}
    </ul>
  </div>
</div>